@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --page-orange: hsl(26, 100%, 55%);
  --page-pale-orange: hsl(25, 100%, 94%);
  --page-very-dark-blue: hsl(218, 12%, 13%);
  --page-dark-grayish-blue: hsl(217, 9%, 45%);
  --page-grayish-blue: hsl(220, 14%, 75%);
  --page-light-grayish-blue: hsl(223, 64%, 98%);
  --page-white: hsl(0, 0%, 100%);
  --page-black: rgb(0, 0, 0, .75); /* (with 75% opacity for lightbox background) */
  --page-font-Kumbh-Sans: 'Kumbh Sans', sans-serif; 
}

HTML {
  width: 100%;
  font-size: 1.25vw;
  font-family: var(--page-font-Kumbh-Sans);
}
